<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AcercaDe</title>
</head>
<body>
  <div class="container mt-5 text-center">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white">Acerca de este Proyecto</h1>
        
        <p class="lead text-white mt-4 fw-bold">
          Este proyecto fue desarrollado como una demostración de consumo de APIs en Angular. 
          He utilizado dos APIs principales para lograr diferentes funcionalidades:
        </p>
        
        <br>
        <h3 class="text-white mt-4">API de RAWG</h3>
        
        <p class="text-white fw-bold">
          La primera API que utilizamos es la <strong>API de RAWG</strong>, que proporciona información sobre videojuegos. 
          En este proyecto, la he consumido para obtener una lista de videojuegos y filtrarlos según ciertos criterios como el nombre. Los datos se recuperan en formato JSON y se muestran de manera interactiva. 
        </p>
        
        <p class="text-white fw-bold">
          Puedes acceder a la API de RAWG y explorar más sobre los videojuegos a través del siguiente botón:
        </p>
        
        <a href="https://rawg.io/apidocs" class="btn btn-primary" target="_blank">Ver documentación de RAWG</a>
        
        <br>
        <br>
        <h3 class="text-white mt-5">Operaciones CRUD</h3>

        <p class="text-white fw-bold">
          La segunda parte del proyecto se centra en realizar operaciones CRUD (Crear, Leer, Actualizar y Eliminar) utilizando una API de artículos. 
          Esta API gratuita permite hacer todas las operaciones CRUD de manera sencilla, y la he integrado en el proyecto para poder interactuar con artículos de prueba. 
          Implementé las funciones para agregar, obtener, actualizar y eliminar registros a través de formularios y solicitudes HTTP en Angular.
        </p>
        
        <p class="text-white fw-bold">
          Estas operaciones CRUD permiten realizar pruebas y ver cómo se pueden manejar datos de manera dinámica utilizando Angular.
        </p>
        
      </div>
    </div>
  </div>
  
</body>
</html>